<h3><%= feed.escape('title') %></h3>
<ul class="feed-entries">
  <% feed.entries().forEach( function (entry) { %>
    <li><%= entry.escape("title") %></li>
  <% }); %>
</ul>

<a href="#">Close feed</a>